@charset "UTF-8" ;

body {
    background-color: rgb(64, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
h1{
         color: brown;
         background-color: gold  ;
            
}
h2 {
            color: rgb(196, 31, 31);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p {
            color: black;
}