@charset "UTF-8";
body {
    background-color: rgb(136, 255, 136);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: green;
}
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}
h2{
    color: rgb(49, 226, 49);
}
.basico {
    color: rgb(153, 72, 153);
    font-weight: bold;
}
.medio {
    color: rgb(146, 21, 146);
}
.avancado {
    color: rgb(82, 6, 82);
}
.destaque {
    background-color: chocolate;
}